{% extends "default.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    
    {% include 'carroussel.html' %}
    <br/>
    <center>
        <h1>Installations de Montréal</h1>
        <p>Vous trouverez ici toutes les informations relatives aux piscines, glissades et patinoires de Montréal.</p>
    </center>
    <br/>
    <div>
        <h5 class="modal-title">Veuillez saisir un arrondissement : </h5>
        <form id = "formulaire" class="d-flex">
            <input class="form-control me-2" name="arrondissement" type="text" required placeholder="Recherche par arrondissement (exemple : LaSalle)" aria-label="Recherche par arrondissement">
            <button class="btn btn-primary py-2 px-3" type="button" id="arr" onclick="get_installations();">Rechercher</button>
        </form>
    </div>
    <br/>
    <br/>

    <center>
    <div id="tableau">
    </div>
    </center>

    <br/>
    <div>
        <h5 class="modal-title">Sélectionnez une installation : </h5>
        <form id = "formulaire_nom" class="d-flex">
            <select id="champ-nom" name="nom" class="form-select" onChange="get_installation(this.value);">
                <option value="">Aucun</option>
                  {% for nom in noms %}
                    <option value="{{ nom[0] }}">{{ nom[0] }}</option>
                  {% endfor %}
            </select>
        </form>
    </div>
    <br/>

    <center>
    <div id="tableau_nom">
    </div>
    </center>



    <script src="../static/js/script.js">


    </script>
  
{% endblock %}